<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" method="post">
      <label for="">Name</label>
      <input type="text" name="name" value="{{ service.name }}">

      <br>

      <label for="">Yob</label>
      <input type="text" name="yob" value="{{ service.yob }}">

      <br>

      <label for="">Gender</label>
      <input type="radio" name="gender" value="1" {% if service.gender == 1 %} checked {% endif %}>Male
      <input type="radio" name="gender" value="0" {% if service.gender == 0 %} checked {% endif %}>Female

      <br>

      <label for="">Height</label>
      <input type="number" name="height" value="{{ service.height }}">cm

      <br>

      <label for="">Phone number</label>
      <input type="text" name="phone" value="{{ service.phone }}">

      <br>

      <label for="">Status</label>
      <input type="radio" name="occupied" value="True" {% if service.occupied == True %} checked {% endif %}>Busy
      <input type="radio" name="occupied" value="False" {% if service.occupied == False %} checked {% endif %}>Free

      <br>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>
