<div class="dropdown py-5">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Chọn tỉnh/thành phố
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Hà Nội</a>
    <a class="dropdown-item" href="#">Đà Nẵng</a>
    <a class="dropdown-item" href="#">Thành phố Hồ Chí Minh</a>
  </div>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Chọn quận/huyện
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Hà Nội</a>
    <a class="dropdown-item" href="#">Đà Nẵng</a>
    <a class="dropdown-item" href="#">Thành phố Hồ Chí Minh</a>
  </div>
</div>

<!-- -------------------------------- can lam ham if check dia diem phan tren -->
<div class="">
  <p>Tìm kiếm theo giá khóa học</p>
  <div class="checkbox">
    <label><input type="checkbox" value="">Lớn hơn 10 triệu</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="">Từ 5 đến 10 triệu</label>
  </div>
  <div class="checkbox disabled">
    <label><input type="checkbox" value="">Nhỏ hơn 5 triệu</label>
  </div>
</div>

<!-- ----------------------------------- -->
<input type="submit" value="Tìm kiếm">
