<div class="bg-light my-5" id="about-us">
  <h1 class="container text-center pt-4">VỀ CHÚNG TÔI</h1>
  <p class="container font-nunito py-4 italic">Hiểu được sự khó khăn trong việc tìm kiếm địa điểm học thêm, chúng tôi ở đây là để giúp các bạn tìm được một nơi phù hợp
    nhất. Đây là một dự án được chung tay thực hiện bởi những con người đã gặp khó khăn trong việc tìm kiếm điều mình yêu thích. Chúng tôi muốn xây dựng một môi trường
    trực tuyến nhằm mục đích hỗ trợ và giúp các bạn trẻ đang chư tìm được định hướng hoặc chưa tìm được những trung tâm đáng tin cậy tìm được 1 điểm đến phù hợp nhất
    bản thân mình.</p>
</div>
