<div class="bg-light my-5">
  <h3 class="text-center font-sriracha text-33 pt-4 my-5">
    Nhân tri học bất tri tồn
  <br>
    Trẻ con không học, lớn lên không ra hồn
  </h3>
  <h3 class="text-center font-sriracha text-33 pb-3">Nhưng muốn học mà không biết học ở đâu thì phải làm gì?</h3>
  <div class="row justify-content-center pb-5">
    <div class="btn-group">
    <a href="{{ url_for('filter_both') }}">
      <button type="button" class="btn btn-dark btn-lg">
          Chọn Lĩnh Vực Bạn Muốn Học
      </button></a>
    </div>
  </div>
</div>
