.bg-board {
  background-image: url('../images/board-bg.jpg');
  background-size: cover;
  background-attachment: fixed;

}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}

.text-40 {
  font-size: 40px;
}

.text-33 {
  font-size: 33px;
}

.text-60 {
  font-size: 60px;
}

.text-16 {
  font-size: 16px;
}

.text-20 {
  font-size: 20px;
}

.h-75px {
  height: 75px;
}

.h-550px {
  height: 550px;
}

.ml-220 {
  margin-left: 220px;
}

.font-sriracha {
  font-family: 'Sriracha', cursive;
}


.italic {
  font-style: italic;
}

.no-underline {
  text-decoration: none;
}

.btn-des {
  color: none;
  background-color: transparent;
  background-image: none;
  border: none;
}

.logo-border {
  border: 1.5px solid #ccc
}

.object-fit-cover {
  object-fit: cover;
}

#footer {
  text-align: center;
  background-color: rgb(73, 71, 77);
  color: white;
  padding: 8px;
  margin-top: 50px;
}
