<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit center</title>
  </head>
  <body>
    <form class="" method="post">
      <label for="">Name</label>
      <input type="text" name="name" value="{{ edu.name }}">

      <br>

      <label for="">Logo</label>
      <input type="text" name="logo" value="{{ edu.logo }}">

      <br>

      <label for="">Phone</label>
      <input type="text" name="phone" value="{{ edu.phone }}">

      <br>

      <label for="">Address</label>
      <input type="text" name="address" value="{{ edu.address }}">

      <br>

      <label for="">City</label><br>
      <input type="radio" name="city" value="1" {% if edu.city == 1 %} checked {% endif %}>Hà Nội <br>
      <input type="radio" name="city" value="2" {% if edu.city == 2 %} checked {% endif %}>Hồ Chí Minh <br>
      <input type="radio" name="city" value="3" {% if edu.city == 3 %} checked {% endif %}>Đà Nẵng

      <br>

      <label for="">District</label>
      <input type="text" name="district" value="{{ edu.district }}">

      <br>

      <label for="">Section</label><br>
      <input type="radio" name="section" value="1" {% if edu.section == 1 %} checked {% endif %}>Anh <br>
      <input type="radio" name="section" value="2" {% if edu.section == 2 %} checked {% endif %}>Nhật <br>
      <input type="radio" name="section" value="3" {% if edu.section == 3 %} checked {% endif %}>Pháp <br>
      <input type="radio" name="section" value="4" {% if edu.section == 4 %} checked {% endif %}>Lập trình

      <br>

      <label for="">Info</label><br>
      <textarea name="info" rows="20" cols="80">{{ edu.info }}</textarea>

      <br>

      <label for="">Email</label>
      <input type="text" name="email" value="{{ edu.email }}">

      <br>

      <label for="">Fee</label>
      <input type="number" name="fee" value="{{ edu.fee }}">

      <br>

      <label for="">Photo 1</label>
      <input type="text" name="photo1" value="{{ edu.photo1 }}">

      <br>

      <label for="">Photo 2</label>
      <input type="text" name="photo2" value="{{ edu.photo2 }}">

      <br>

      <label for="">Photo 3</label>
      <input type="text" name="photo3" value="{{ edu.photo3 }}">

      <br>

      <label for="">Website</label>
      <input type="text" name="website" value="{{ edu.website }}">

      <br>

      <input type="submit" value="Submit">
  </body>
</html>
