<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add new</title>
  </head>
  <body>
    <form class="" method="post">
      <label for="">Name</label>
      <input type="text" name="name" value="">

      <br>

      <label for="">Phone</label>
      <input type="text" name="phone" value="">

      <br>

      <label for="">City</label>
      <input type="number" name="city" value="">

      <br>

      <label for="">District</label>
      <input type="text" name="district" value="">

      <br>

      <label for="">Section</label>
      <input type="number" name="section" value="">

      <br>

      <label for="">Info</label>
      <input type="text" name="info" value="">

      <br>

      <label for="">Email</label>
      <input type="text" name="email" value="">

      <br>

      <label for="">Fee</label>
      <input type="number" name="fee" value="">

      <br>

      <label for="">Photo 1</label>
      <input type="text" name="photo1" value="">

      <br>

      <label for="">Photo 2</label>
      <input type="text" name="photo2" value="">

      <br>

      <label for="">Photo 3</label>
      <input type="text" name="photo3" value="">

      <br>

      <label for="">Website</label>
      <input type="text" name="website" value="">

      <br>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>
